# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log
.dockerignore

# Logs & cache
logs/
*.log
yarn.lock
.cache/
.vscode/
.idea/

# Docker
db_data/
volumes/
docker-compose.override.yml

# Ignore built files
dist/
build/

# Environment variables (DO NOT SHARE SECRETS)
.env
.env.local
.env.development
.env.production

# macOS & Windows system files
.DS_Store
Thumbs.db